

body {
	padding: 5px;
	margin: 0 5px;
	margin-right: 10%;
	margin-left: 10%;
	background-image: url("images/black-thread-light.png");
}

.container {
	border: 10px white solid;
	background-color: white;

}
.journal_header {
	text-align: end;
	background-color: #A8F0F0;
}

.fresh {
	font-size: 14pt;
}

.first_journal {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	overflow: hidden;
	margin: 10px 0;
	
}

.first_journal p img {
	float: right;


}

.date {
	border-bottom: 2px blue dashed;
}

.second_journal {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	overflow: hidden;
}
.second_journal p img {
	float: right;
}

.journal_content {
	overflow: hidden;
}

.date2 {
	border-bottom: 2px blue dashed;
	
}


.journal-day {
	float: left;
	width: 150px;
	margin: 10px 5px;
	border: 4px solid #008F96;
	background-color: #A8F0F0;
}

.journal-day ul li {
	margin-left: 10px;
}

*:hover {
	background-color: yellow;
}

